.btn_primary {
  background: $blue-violet-gradient;
  color: $white;
  border: none;
  cursor: pointer;
  border-radius: 44px;
  padding: 15px 70px;
  margin-top: 30px;
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position .5s;
  transition: all 0.3s ease 0s;
}

.btn_primary:hover {
  background-position: 0 0;
  box-shadow: $box-shadow-primary;
}

.green-btn {
  background: $green;
}
