button {
  border: none;
  background: none;
  cursor: pointer;
}

.btn_primary {
  color: $white !important;
  border: none;
  border-radius: 44px !important;
  padding: 12px 40px !important;
  margin-top: 30px;
  font-weight: normal !important;
}

.btn_secondary {
  color: $white;
  border: none;
  cursor: pointer;
  border-radius: 44px;
  padding: 12px 40px;
  margin-top: 30px;
  background: linear-gradient(120deg, $purple, $blue);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position 0.5s;
  box-shadow: $box-shadow-primary;
}

.btn_secondary:hover {
  background-position: 0 0;
}
