.mat-dialog-container {
  padding: 0px;
}

.mat-dialog-container {
  padding: 0px !important;
  overflow: unset !important;
}

.mat-dialog-content {
  margin: 0px !important;
}

.mat-dialog-title {
  margin: 0px !important;
}

.dialog-header {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h2 {
    color: $white !important;
  }
}

.dialog-header-close-btn {
  color: $white !important;
}

.dialog-content {
  padding: 30px 50px 0px 50px !important;
}

.mat-dialog-actions {
  margin: 0px 15px !important;
}

.mat-form-field {
  margin-bottom: 20px;
}
