@import "/src/styles/helpers/constants.scss";

/* INHERIT FROM CONNECTION COMPONENT */

.back-arrow {
  width: 100%;
  margin-left: 70px;
}
.back-arrow a {
  color : $black;
}

.message {
  width: 80%;
  text-align: center;
}
