<div class="dialog-header bg-green">
  <h2 mat-dialog-title>Ajout d'un utilisateur</h2>
</div>
<div mat-dialog-content class="dialog-content">
  <div class="div-input">
    <h3>Rôle</h3>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Choisissez un rôle</mat-label>
      <mat-select required [(ngModel)]="register.role">
        <mat-option *ngFor="let role of roles" [value]="role.value">
          {{ role.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="div-input" *ngIf="register.role === roleEnum.APPRENTICE">
    <h3>Promotion</h3>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Choisissez une promotion</mat-label>
      <mat-select required [(ngModel)]="register.yearGroup">
        <mat-option *ngFor="let yearGroup of yearGroups" [value]="yearGroup.id">
          {{ yearGroup.worded }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="div-input" *ngIf="register.role === roleEnum.MENTOR">
    <h3>Entreprise</h3>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Choisissez une entreprise</mat-label>
      <mat-select required [(ngModel)]="register.company">
        <mat-option *ngFor="let company of companys" [value]="company.cmp_siret">
          {{ company.cmp_siret }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="div-input" *ngIf="register.role === roleEnum.TUTOR">
    <h3>Centre de Formation</h3>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Choisissez un centre de formation</mat-label>
      <mat-select required [(ngModel)]="register.formationCenter">
        <mat-option
          *ngFor="let formationCenter of formationCenters"
          [value]="formationCenter.id"
        >
          {{ formationCenter.worded }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="div-input">
    <h3>Nom</h3>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>RENAUD</mat-label>
      <input type="text" required [(ngModel)]="register.last_name" matInput />
      <mat-error> Nom requis</mat-error>
    </mat-form-field>
  </div>

  <div class="div-input">
    <h3>Prénom</h3>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Mathilde</mat-label>
      <input type="text" required [(ngModel)]="register.first_name" matInput />
      <mat-error> Prénom requis</mat-error>
    </mat-form-field>
  </div>

  <div class="div-input">
    <h3>Adresse email</h3>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>mathilde.renaud@reseau.eseo.fr</mat-label>
      <input type="email" required [(ngModel)]="register.email" matInput />
      <mat-error> Adresse email requis</mat-error>
    </mat-form-field>
  </div>
</div>
<mat-divider></mat-divider>

<div mat-dialog-actions align="end">
  <button mat-button class="green bold" (click)="addUser(register)">
    AJOUTER
  </button>
  <button mat-button class="red bold" (click)="closeDialog()">ANNULER</button>
</div>
