.mat-dialog-container {
  padding: 0px;
}

.mat-dialog-container {
  padding: 0px !important;
  overflow: unset !important;
}

.mat-dialog-content {
  margin: 0px !important;
}

.mat-dialog-title {
  margin: 0px !important;
}

.dialog-header {
  padding: 15px 20px;
  background-color: $green;
  color: $white;
}

.dialog-content {
  padding: 30px 50px 0px 50px !important;
}

.mat-dialog-actions {
  margin: 0px 15px !important;
}
