<mat-card class="mat-dialog-container">
  <mat-card-header class="dialog-header bg-green">
    <mat-card-title class="mat-dialog-title">
      Informations du maître d'apprentissage
    </mat-card-title>
  </mat-card-header>
  <mat-card class="mat-dialog-card">
    <form [formGroup]="mentorForm">
      <div class="div-input">
        <h3>NOM</h3>
        <mat-form-field class="full-width" appearance="fill">
          <input type="text" matInput formControlName="last_name" />
          <mat-hint
            >Il s'agit du NOM de la personne qui va assurer l'encadrement
            opérationnel de l'apprenti(e) en entreprise.</mat-hint
          >
          <mat-error
            *ngIf="
              mentorForm.get('last_name')?.invalid &&
              (mentorForm.get('last_name')?.dirty ||
                mentorForm.get('last_name')?.touched)
            "
          >
            Nom du MA requis</mat-error
          >
        </mat-form-field>
      </div>

      <div class="div-input">
        <h3>Prénom</h3>
        <mat-form-field class="full-width" appearance="fill">
          <input type="text" matInput formControlName="first_name" />
          <mat-hint
            >Il s'agit du PRÉNOM de la personne qui va assurer l'encadrement
            opérationnel de l'apprenti(e) en entreprise.</mat-hint
          >
          <mat-error
            *ngIf="
              mentorForm.get('first_name')?.invalid &&
              (mentorForm.get('first_name')?.dirty ||
                mentorForm.get('first_name')?.touched)
            "
          >
            Prénom du MA requis</mat-error
          >
        </mat-form-field>
      </div>

      <div class="div-input">
        <h3>Numéro de téléphone</h3>
        <mat-form-field class="full-width" appearance="fill">
          <input type="text" matInput formControlName="mt_phone" />
          <mat-hint
            >Il s'agit du NUMÉRO DE LIGNE DIRECTE de la personne qui va assurer
            l'encadrement opérationnel de l'apprenti(e) en entreprise</mat-hint
          >
          <mat-error
            *ngIf="
              mentorForm.get('mt_phone')?.invalid &&
              (mentorForm.get('mt_phone')?.dirty ||
                mentorForm.get('mt_phone')?.touched)
            "
          >
            Numéro de téléphone du MA requis</mat-error
          >
        </mat-form-field>
      </div>

      <div class="div-input">
        <h3>Addresse Email</h3>
        <mat-form-field class="full-width" appearance="fill">
          <input type="text" matInput formControlName="email" />
          <mat-hint
            >Il s'agit de l'E-MAIL de la personne qui va assurer l'encadrement
            opérationnel de l'apprenti(e) en entreprise.</mat-hint
          >
          <mat-error
            *ngIf="
              mentorForm.get('email')?.invalid &&
              (mentorForm.get('email')?.dirty ||
                mentorForm.get('email')?.touched)
            "
          >
            Adresse email du MA requis</mat-error
          >
        </mat-form-field>
      </div>

      <div class="div-input">
        <h3>Fonction dans l'entreprise</h3>
        <mat-form-field class="full-width" appearance="fill">
          <input type="text" matInput formControlName="mt_job_title" />
          <mat-hint
            >Il s'agit de la FONCTION occupée par la personne qui va assurer
            l'encadrement opérationnel de l'apprenti(e) en entreprise</mat-hint
          >
          <mat-error
            *ngIf="
              mentorForm.get('mt_job_title')?.invalid &&
              (mentorForm.get('mt_job_title')?.dirty ||
                mentorForm.get('mt_job_title')?.touched)
            "
          >
            Titre (Fonction) du MA requis</mat-error
          >
        </mat-form-field>
      </div>

      <div class="div-input">
        <h3>Dernier diplôme obtenu</h3>
        <mat-form-field class="full-width" appearance="fill">
          <input type="text" matInput formControlName="mt_last_diploma" />
          <mat-hint
            >Il s'agit du DERNIER DIPLÔME OBTENU par la personne qui va assurer
            l'encadrement opérationnel de l'apprenti(e) en entreprise.</mat-hint
          >
          <mat-error
            *ngIf="
              mentorForm.get('mt_last_diploma')?.invalid &&
              (mentorForm.get('mt_last_diploma')?.dirty ||
                mentorForm.get('mt_last_diploma')?.touched)
            "
          >
            Dernier diplôme du MA requis</mat-error
          >
        </mat-form-field>
      </div>

      <div class="div-input">
        <h3>Ancien élève ESEO ?</h3>
        <mat-radio-group
          aria-labelledby=""
          class="stage-radiogroup"
          formControlName="mt_former_eseo"
        >
          <mat-radio-button
            class="form-radio-btn"
            *ngFor="let response of isFormerESEO"
            [value]="response"
          >
            {{ response }}
          </mat-radio-button>
          <mat-error *ngIf="mentorForm.get('mt_former_eseo')?.invalid">
            Champ requis</mat-error
          >
        </mat-radio-group>
      </div>

      <div mat-dialog-actions align="end">
        <button
          mat-button
          type="submit"
          class="green bold"
          (click)="addMentor(mentorForm.value)"
          [disabled]="mentorForm.invalid"
        >
          SAUVEGARDER
        </button>
      </div>
    </form>
  </mat-card>
</mat-card>
