@import "/src/styles/helpers/constants.scss";
@import "/src/styles/helpers/mixins.scss";

.notes-page-card {
  box-shadow: $box-shadow-secondary;
  padding: 0px;
  width: 100%;
}

.notes-page-card-header {
  padding: 12px;
  box-shadow: $box-shadow-secondary;
  background-color: $green;
  color: $white;
  justify-content: center;
}

.notes-page-card-title {
  display: flex;
}

.notes-icons {
  color: $blue;
}

.note-page-content {
  display: flex;
  flex-wrap: wrap;
  padding: 16px 30px;
}

.note-card {
  box-shadow: none;
}

.tree-div {
  width: 100%;
  border-right: 1px solid lightgrey;
  @include respond-to("medium") {
    width: 30%;
  }
}

.note-card-div {
  padding: 30px;
  width: 100%;
  @include respond-to("medium") {
    width: 61%;
  }
}

.btn-modify-note {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
}

.btn-delete-note {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
}

.note-card-actions {
  display: flex;
}

.tree-parents {
  font-size: 16px;
  font-weight: bold;
}

.tree-child:hover {
  color: $green;
}

.tree-toggle {
  display: flex;
  align-items: center;
}
