<mat-card class="notes-page-card">
  <mat-card-header class="notes-page-card-header">
    <mat-card-title class="notes-page-card-title">
      <mat-icon
        aria-hidden="false"
        aria-label="notes icon"
        fontIcon="edit_note"
      ></mat-icon>
      NOTES PÉRIODIQUES
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="note-page-content">
    <div class="tree-div">
      <button
        *ngIf="user.role === roleEnum.APPRENTICE"
        class="btn_primary bg-green"
        mat-button
        (click)="openDialog(note)"
      >
        AJOUTER UNE NOTE
      </button>
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <mat-tree-node
          *matTreeNodeDef="let node; when: hasChild"
          matTreeNodePadding
        >
          <button
            mat-icon-button
            matTreeNodeToggle
            [attr.aria-label]="'Toggle ' + node.id"
          >
            <mat-icon class="mat-icon-rtl-mirror">
              {{
                treeControl.isExpanded(node) ? "expand_more" : "chevron_right"
              }}
            </mat-icon>
            <button class="tree-parents">
              {{ node.name }}
            </button>
          </button>
        </mat-tree-node>
        <mat-tree-node
          *matTreeNodeDef="let node; when: hasNoContent"
          matTreeNodePadding
        >
          <button class="tree-child" mat-button (click)="getNote(node.id)">
            {{ node.name }}
          </button>
        </mat-tree-node>
      </mat-tree>
    </div>
    <div class="note-card-div">
      <div *ngIf="!isAvailable">Aucune note à afficher</div>
      <div class="note-card" *ngIf="isAvailable">
        <h3>{{ note.title }}</h3>
        <p *ngIf="isAvailable">
          Du {{ note.beginDate | date : "shortDate" }} au
          {{ note.endDate | date : "shortDate" }}
        </p>
        <p>{{ note.text }}</p>

        <div
          class="note-card-actions"
          *ngIf="user.role === roleEnum.APPRENTICE"
        >
          <button
            mat-icon-button
            *ngIf="isAvailable"
            class="btn-modify-note green"
            (click)="openModifyDialog()"
          >
            <mat-icon>edit</mat-icon>MODIFIER
          </button>
          <button
            mat-icon-button
            *ngIf="isAvailable"
            class="btn-delete-note red"
            (click)="deleteNoteById(this.note.id)"
          >
            <mat-icon>close</mat-icon>SUPPRIMER
          </button>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
