html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
a { text-decoration: none; color: none; }

.mat-mdc-cell .mat-icon {
  margin-right: 0px;
}

.mat-icon {
  margin-right: 15px;
}

.mat-drawer-container {
  background-color: transparent;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: transparent;
}

.text-center {
  text-align: center;
}

.logo-eseo {
  margin-bottom: 30px;
  height: auto;
  max-width: 150px;
}

table {
  width: 100%;
}

.mat-elevation-z8 {
  box-shadow: none;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: none;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.15);
  border-radius: 10px;
}

.mat-mdc-card-header {
  display: flex;
  align-items: center;
  padding: 10px 0px !important;
}

form {
  display: contents !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background: none;
}

.mat-mdc-form-field-focus-overlay {
  background: none;
}

.example-full-width {
  width: 100%;
}
