<mat-card class="events-page-card">
  <mat-card-header class="events-page-card-header">
    <mat-card-title class="events-page-card-title">
      <mat-icon
        aria-hidden="false"
        aria-label="events icon"
        fontIcon="calendar_month"
      ></mat-icon>
      Rendez-vous pédagogique
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="configuration-actions-btns2">
      <button
        style="margin-left: 25px"
        class="btn_primary bg-green"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
      >
        Mois précédent
      </button>
      <button
        style="margin-left: 25px"
        class="btn_primary bg-green"
        mwlCalendarToday
        [(viewDate)]="viewDate"
      >
        Aujourd'hui
      </button>

      <button
        style="margin-left: 25px"
        class="btn_primary bg-green"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
      >
        Mois Suivant
      </button>

      <button
        *ngIf="isAuthorize"
        style="margin-left: 25px"
        class="btn_primary bg-blue"
        (click)="addPeriod()"
      >
        Ajout période
      </button>
    </div>

    <div class="row text-center">
      <div class="col-md-4">
        <h3>
          {{
            viewDate | calendarDate : view + "ViewTitle" : locale : weekStartsOn
          }}
        </h3>
      </div>

      <mwl-calendar-month-view
        [locale]="locale"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        (eventClicked)="openModifyEventDialog($event.event)"
        (dayClicked)="openCreateEventDialog($event)"
      >
      </mwl-calendar-month-view>
    </div>

    <div class="container"></div>
    <div
      *ngIf="isAuthorize"
      class="table-recap-events"
      [ngStyle]="{ display: 'inline-block' }"
      style="float: center"
    >
      <table
        mat-table
        [dataSource]="dataSourcePeriods"
        [multiTemplateDataRows]="true"
      >
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef>Période</th>
          <td class="mat-column-star" mat-cell *matCellDef="let element">
            {{ element.name }}
          </td>
        </ng-container>

        <!-- start_date Column -->
        <ng-container matColumnDef="Start_Date">
          <th mat-header-cell *matHeaderCellDef>Date de début</th>
          <td class="mat-column-star" mat-cell *matCellDef="let element">
            {{ element.start_date | date }}
          </td>
        </ng-container>
        <!-- end_date Column -->
        <ng-container matColumnDef="End_Date">
          <th mat-header-cell *matHeaderCellDef>Date de fin</th>
          <td class="mat-column-star" mat-cell *matCellDef="let element">
            {{ element.end_date | date }}
          </td>
        </ng-container>
        <!-- Description By Column -->
        <ng-container matColumnDef="Description">
          <th mat-header-cell *matHeaderCellDef>Description</th>
          <td class="mat-column-star" mat-cell *matCellDef="let element">
            {{ element.description.substring(0, 15) }}...
          </td>
        </ng-container>
        <!-- Description By Column -->
        <ng-container matColumnDef="Promotion">
          <th mat-header-cell *matHeaderCellDef>Promotion</th>
          <td class="mat-column-star" mat-cell *matCellDef="let element">
            {{ element.yearGroup }}...
          </td>
        </ng-container>
        <!-- update Link Column -->
        <ng-container matColumnDef="update">
          <th mat-header-cell *matHeaderCellDef>Modifications</th>
          <td mat-cell *matCellDef="let element">
            <mat-icon
              (click)="openUpdatePeriod(element)"
              class="conf-edit-icons"
              aria-hidden="false"
              aria-label="documents icon"
              fontIcon="edit"
            ></mat-icon>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsPeriods"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsPeriods"></tr>
      </table>

      <mat-paginator
        #periodsPaginator="matPaginator"
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
      >
      </mat-paginator>
    </div>
    <div
      *ngIf="this.role === 'APPRENTICE'"
      class="table-recap-events"
      [ngStyle]="{ display: 'inline-block' }"
      style="float: center"
    >
      <table
        mat-table
        [dataSource]="dataSourcePeriodsStudent"
        [multiTemplateDataRows]="true"
      >
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef>Période</th>
          <td class="mat-column-star" mat-cell *matCellDef="let element">
            {{ element.name }}
          </td>
        </ng-container>

        <!-- start_date Column -->
        <ng-container matColumnDef="Start_Date">
          <th mat-header-cell *matHeaderCellDef>Date de début</th>
          <td class="mat-column-star" mat-cell *matCellDef="let element">
            {{ element.start_date | date }}
          </td>
        </ng-container>
        <!-- end_date Column -->
        <ng-container matColumnDef="End_Date">
          <th mat-header-cell *matHeaderCellDef>Date de fin</th>
          <td class="mat-column-star" mat-cell *matCellDef="let element">
            {{ element.end_date | date }}
          </td>
        </ng-container>
        <!-- Description By Column -->
        <ng-container matColumnDef="Description">
          <th mat-header-cell *matHeaderCellDef>Description</th>
          <td class="mat-column-star" mat-cell *matCellDef="let element">
            {{ element.description.substring(0, 15) }}...
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumnsPeriodsStudent"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumnsPeriodsStudent"
        ></tr>
      </table>

      <mat-paginator
        #periodsPaginatorStudent="matPaginator"
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
      >
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
