@import "/src/styles/helpers/constants.scss";

.events-card {
  box-shadow: $box-shadow-secondary;
  padding: 0px;
}

.events-card-header {
  padding-top: 12px;
  box-shadow: $box-shadow-secondary;
  background-color: $red;
  color: $white;
  justify-content: center;
}

.events-card-title {
  display: flex;
}

.table-recap-events {
  display: contents !important;
  table {
    overflow-y: scroll;
    display: inline-block;
  }
}

