@import "/src/styles/helpers/constants.scss";

.mentor-form-card {
  box-shadow: $box-shadow-secondary;
  padding: 0px;
}

.mentor-formfield-card {
  box-shadow: $box-shadow-secondary;
  padding: 25px;
}

.mentor-form-card-header {
  padding-top: 12px;
  box-shadow: $box-shadow-secondary;
  background-color: $purple;
  color: $white;
  justify-content: center;
}

.mentor-form-card-title {
  display: flex;
}
