<app-navigation>
  <div class="navigation-content">
    <mat-card class="personal-card">
      <mat-card-header class="personal-card-header">
        <mat-card-title class="personal-card-title">Informations personnelles</mat-card-title>
      </mat-card-header>
      <mat-card-content class="personal-card-content">
        <div class="personal-title">
          <div mat-card-avatar class="personal-avatar"></div>
          <h1 class="personal-name">
            {{ user.first_name }} {{ user.last_name }}
          </h1>
        </div>
        <ul>
          <li>Civilité : Mme</li>
          <li>Promotion : Noether</li>
          <li>Date de naissance : 15/05/2000</li>
          <li>Email : mathilde.renaud@reseau.eseo.fr</li>
          <li>Téléphone : 06 28 40 52 58</li>
        </ul>
        <a class="personal-deconnexion-btn">
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="cancel">
          </mat-icon>
          Déconnexion
        </a>
      </mat-card-content>
    </mat-card>
  </div>
</app-navigation>
