@import "/src/styles/helpers/constants.scss";
@import "/src/styles/helpers/mixins.scss";

.personal-card {
  width: 100%;
  box-shadow: $box-shadow-secondary;
  padding: 0;
  @include respond-to('medium') {
    width: 70%;
  }
  @include respond-to('large') {
    width: 50%;
  }
}

.personal-card-header {
  background: $blue-violet-gradient;
  border-radius: 5px 10px 0 0;
  padding: 10px 0px;
}

.personal-card-title{
  color: $white;
  font-weight: 500;
  vertical-align: middle;
  padding-top: 9px;
}

.personal-card-content {
  padding: 20px 0px;
}

.personal-title {
  display: table;
  padding-left: 2%;
  border-spacing: 25px;
}

.personal-avatar {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
  vertical-align: middle;
  display: table-cell;
}

.personal-name {
  vertical-align: middle;
  display: table-cell;
}

.personal-deconnexion-btn {
  margin-left: 5%;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  color: $red;
}
