<mat-card class="documents-card">
  <mat-card-header class="documents-card-header">
    <mat-card-title class="documents-card-title">
      <mat-icon
        aria-hidden="false"
        aria-label="documents icon"
        fontIcon="description"
      ></mat-icon>
      DOCUMENTS
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let document of documents" class="documents-item">
        <a class="documents-link" (click)="downloadDocument(document.id, document.file_name)">
        <mat-icon mat-list-icon class="documents-icon">folder</mat-icon>
        <div mat-line class="documents-name">
            {{document.name}}
        </div>
      </a>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
