@import "/src/styles/helpers/constants.scss";
@import "/src/styles/helpers/mixins.scss";

.notes-page-card {
  box-shadow: $box-shadow-secondary;
  padding: 0px;
  width: 100%;
}

.notes-page-card-header {
  padding-top: 12px;
  box-shadow: $box-shadow-secondary;
  background-color: $green;
  color: $white;
  justify-content: center;
}

.notes-page-card-title {
  display: flex;
}

.notes-icons {
 color: $blue;
}

.note-page-content {
  display: flex;
  padding: 10px 80px;
}

.note-card {
  box-shadow: none;
}

.tree-div {
  width: 30%;
}

.note-card-div {
  width: 70%;
}

.btn-modify-note {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
}

.btn-delete-note {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
}

.note-card-actions {
  display: flex;
}
