<app-navigation>
  <div class="navigation-content">
    <mat-card class="notes-page-card">
      <mat-card-header class="notes-page-card-header">
        <mat-card-title class="notes-page-card-title">
          <mat-icon
            aria-hidden="false"
            aria-label="notes icon"
            fontIcon="edit_note"
          ></mat-icon>
          NOTES PÉRIODIQUES
        </mat-card-title>
      </mat-card-header>

      <mat-card-content class="note-page-content">
        <div class="tree-div">
          <button class="btn_primary bg-green" mat-button (click)="openDialog()">AJOUTER UNE NOTE</button>
          <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
            <!-- This is the tree node template for leaf nodes -->
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
              <!-- use a disabled button to provide padding for tree leaf -->
              <button mat-icon-button ></button>
              {{node.name}}
            </mat-tree-node>


            <!-- This is the tree node template for expandable nodes -->
            <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
              <button mat-icon-button matTreeNodeToggle
                      [attr.aria-label]="'Toggle ' + node.id">
                <mat-icon class="mat-icon-rtl-mirror">
                  {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
                <button>
                  {{node.name}}
                </button>
              </button>

            </mat-tree-node>
            <mat-tree-node *matTreeNodeDef="let node;when: hasNoContent" matTreeNodePadding>
              <button mat-button (click)="getNote(node.id)">
                {{node.name}}
              </button>
            </mat-tree-node>


          </mat-tree>
        </div>
        <div class="note-card-div">
          <mat-card class="note-card">
            <mat-card-title>Période du 13 au 17 mai</mat-card-title>
            <mat-card-content>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a pulvinar lectus,
                nec mattis justo.<br><br>Aenean at volutpat magna. Pellentesque malesuada at lorem nec
                venenatis. Duis varius nec ex non ornare. Praesent augue nunc, volutpat quis facilisis ut,
                tristique in sapien. Praesent feugiat mi ac placerat rhoncus.<br><br>Class aptent taciti
                sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras commodo massa
                non tempor finibus. Pellentesque efficitur leo sodales neque mattis malesuada. Quisque non
                tincidunt augue. Cras faucibus, lacus vel maximus congue, diam eros faucibus sem, sit amet
                pellentesque mauris dolor et nisi.
              </p>
            </mat-card-content>
            <mat-card-actions class="note-card-actions">
              <button mat-icon-button class="btn-modify-note green"><mat-icon>edit</mat-icon>MODIFIER</button>
              <button mat-icon-button class="btn-delete-note red"><mat-icon>close</mat-icon>SUPPRIMER</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</app-navigation>

