@import "/src/styles/helpers/constants.scss";
@import "/src/styles/helpers/mixins.scss";

.events-page-card {
  box-shadow: $box-shadow-secondary;
  padding: 0px;
  width: 100%;
}

table {
  max-width: 1200;
}

td.mat-column-star {
  width: 300px;
  margin-right: 8px;
}
.events-page-card-header {
  padding-top: 12px;
  box-shadow: $box-shadow-secondary;
  background-color: $red;
  color: $white;
  justify-content: center;
}

.events-page-card-title {
  display: flex;
}
.configuration-actions-btns2 {
  margin: 0 0 20px 0;
}
.events-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white;
  width: 90%;
  height: 80%;
  border-radius: 20px 20px 0px 0px;
  justify-content: space-evenly;
  @include respond-to("small") {
    width: 50%;
  }
  @include respond-to("medium") {
    width: 40%;
  }
}
.custom-calendar {
  width: 400px;
  height: 400px;
}
