@import "/src/styles/helpers/constants.scss";
@import "/src/styles/helpers/mixins.scss";

.events-page-card {
  box-shadow: $box-shadow-secondary;
  padding: 0px;
  width: 100%;
  @include respond-to('medium') {
    width: 70%;
  }
}

.events-page-card-header {
  padding-top: 12px;
  box-shadow: $box-shadow-secondary;
  background-color: $red;
  color: $white;
  justify-content: center;
}

.events-page-card-title {
  display: flex;
}


