<app-navigation>
  <div class="navigation-content">
    <mat-card class="events-page-card">
      <mat-card-header class="events-page-card-header">
        <mat-card-title class="events-page-card-title">
          <mat-icon
            aria-hidden="false"
            aria-label="events icon"
            fontIcon="calendar_month"
          ></mat-icon>
          Rendez-vous pédagogique
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="configuration-actions-btns2">
          <button
            style="margin-left: 25px"
            class="btn_primary bg-green"
            mwlCalendarPreviousView
            [view]="view"
            [(viewDate)]="viewDate"
          >
            Mois précédent
          </button>
          <button
            style="margin-left: 25px"
            class="btn_primary bg-green"
            mwlCalendarToday
            [(viewDate)]="viewDate"
          >
            Aujourd'hui
          </button>

          <button
            style="margin-left: 25px"
            class="btn_primary bg-green"
            mwlCalendarNextView
            [view]="view"
            [(viewDate)]="viewDate"
          >
            Mois Suivant
          </button>
        </div>
        <br />
        <div class="row text-center">
          <div class="col-md-4">
            <h3>
              {{
                viewDate
                  | calendarDate : view + "ViewTitle" : locale : weekStartsOn
              }}
            </h3>
          </div>

          <mwl-calendar-month-view
            [locale]="locale"
            [viewDate]="viewDate"
            [events]="events"
            [refresh]="refresh"
            (eventClicked)="openModifyEventDialog($event.event)"
            (dayClicked)="openCreateEventDialog($event)"
          >
          </mwl-calendar-month-view>
        </div>
        <div class="container"></div>
      </mat-card-content>
    </mat-card>
  </div>
</app-navigation>
