<div class="dialog-header bg-purple">
  <h2 mat-dialog-title>Modification d'un semestre</h2>
</div>

<form [formGroup]="updateSemesterForm" (ngSubmit)="updateSemester()">
  <div mat-dialog-content class="dialog-content">
    <div class="div-input">
      <h3>Nom</h3>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Semestre 1</mat-label>
        <input type="text" matInput formControlName="name" />
        <mat-error
          *ngIf="submitted && updateSemesterForm.hasError('required', 'name')"
        >
          Merci de renseigner un nom
        </mat-error>
      </mat-form-field>
    </div>

    <div class="div-input">
      <h3>Période</h3>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Entrez une période</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input
            matStartDate
            placeholder="Date de début"
            formControlName="beginDate"
          />
          <input
            matEndDate
            placeholder="Date de fin"
            formControlName="endDate"
          />
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
        <mat-error
          *ngIf="
            submitted &&
            updateSemesterForm.hasError('required', 'endDate') &&
            updateSemesterForm.hasError('required', 'beginDate')
          "
        >
          Merci de renseigner une date de début et une date de fin
        </mat-error>
      </mat-form-field>
    </div>

    <div class="div-input">
      <h3>Promotion</h3>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Choisissez une promotion associée</mat-label>
        <mat-select required formControlName="yearGroup">
          <mat-option
            *ngFor="let yearGroup of yearGroups"
            [value]="yearGroup.id"
          >
            {{ yearGroup.worded }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="
            submitted && updateSemesterForm.hasError('required', 'yearGroup')
          "
        >
          Merci de renseigner une promotion
        </mat-error>
      </mat-form-field>
    </div>
    <mat-divider></mat-divider>
    <div mat-dialog-actions align="end">
      <button mat-button class="green bold">MODIFIER</button>
      <button mat-button class="red bold" (click)="closeDialog()">
        ANNULER
      </button>
    </div>
  </div>
</form>
