<div class="background">
  <img class="logo-eseo" src="assets/images/logo-eseo.png" alt="logo ESEO" />

  <div class="connection-div">
    <div class="back-arrow">
      <a routerLink="/login">
        <mat-icon matPrefix>west</mat-icon>
      </a>
    </div>
    <h1 class="text-center">Réinitialisation<br />du mot de passe</h1>

    <form
      class="connection-form"
      [formGroup]="resetPasswordForm"
      (ngSubmit)="resetPassword()"
    >
      <div class="div-input">
        <h3>Code de vérification</h3>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Token reçu par mail</mat-label>
          <input matInput type="text" formControlName="token" />
        </mat-form-field>
      </div>
      <div class="div-input">
        <h3>Nouveau mot de passe</h3>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Entrez votre mot de passe</mat-label>
          <mat-icon matPrefix>lock</mat-icon>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            formControlName="newPassword"
          />
          <button
            class="btn-hide-password"
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error
            *ngIf="resetPasswordForm.hasError('required', 'newPassword')"
          >
            Merci de renseigner le nouveau mot de passe
          </mat-error>
        </mat-form-field>
      </div>

      <div class="div-input">
        <h3>Confirmation du mot de passe</h3>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Entrez votre mot de passe</mat-label>
          <mat-icon matPrefix>lock</mat-icon>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            formControlName="confirmPassword"
          />
          <button
            class="btn-hide-password"
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error
            *ngIf="resetPasswordForm.hasError('required', 'confirmPassword')"
          >
            Merci de confirmer le nouveau mot de passe
          </mat-error>
        </mat-form-field>
      </div>

      <mat-error *ngIf="resetPasswordForm.hasError('notSame')">
        Les mots de passe ne correspondent pas.
      </mat-error>
      <button
        mat-flat-button
        class="btn_primary bg-gradient"
        type="submit"
        [ngClass]="resetPasswordForm.invalid ? 'bg-disable' : 'bg-gradient'"
        [disabled]="resetPasswordForm.invalid"
      >
        REINITIALISER
      </button>
    </form>
  </div>
</div>
