@import "/src/styles/helpers/mixins.scss";

.navigation-content {
  padding: 0px 50px;
  display: flex;
  flex-wrap: wrap;
}

.app-div-mid-width {
  width: 49%;
  margin-bottom: 50px;
}

.app-mid-width {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
