@import "/src/styles/helpers/constants.scss";
@import "/src/styles/helpers/mixins.scss";

.configuration-tab-group .mat-mdc-tab-header {
  margin: 30px 0px;
}

.configuration-page-card {
  box-shadow: $box-shadow-secondary;
  padding: 0px;
  width: 100%;
}

.configuration-page-card-header {
  padding-top: 12px;
  box-shadow: $box-shadow-secondary;
  background: $blue-violet-gradient;
  color: $white;
  justify-content: center;
  margin-bottom: 1rem;
}

.conf-page-card-title {
  display: flex;
  align-items: center;
}

.conf-actions-btns {
  display: flex;
  width: 100%;
  margin-left: 30px;
  @include respond-to("medium") {
    width: 50%;
  }

  button {
    margin: 0.25rem 0 1rem 0;
  }
}

.mat-tab-labels {
  justify-content: center;
}

.mat-tab-label-container {
  margin: 20px 0px;
}

.mat-tab-header {
  border: none;
}

th.mat-sort-header-sorted {
  color: black;
}
