<mat-card class="evals-card">
  <mat-card-header class="evals-card-header">
    <mat-card-title class="evals-card-title">
      <mat-icon
        aria-hidden="false"
        aria-label="documents icon"
        fontIcon="description"
      ></mat-icon>
      LIVRABLES
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="conf-actions-btns">
      <button
        mat-raised-button
        class="btn_primary bg-purple"
        (click)="openAddEvaluationPopup()"
        *ngIf="user.role === roleEnum.APPRENTICE"
      >
        AJOUT LIVRABLE
      </button>
    </div>

    <div class="div-table-evaluation">
      <table mat-table [dataSource]="dataSource">
        <!-- Administration Column -->
        <ng-container matColumnDef="link">
          <th mat-header-cell *matHeaderCellDef>Téléchargement</th>
          <td mat-cell *matCellDef="let element">
            <button (click)="downloadEvaluation(element.id, element.file_name)">
              <mat-icon
                class="blue"
                aria-hidden="false"
                aria-label="documents icon"
                fontIcon="file_download"
              ></mat-icon>
            </button>
            <button
              *ngIf="
                user.role === roleEnum.ADMIN ||
                user.role === roleEnum.COORDINATOR ||
                user.role === roleEnum.APPRENTICE
              "
              (click)="openUpdateEvaluationPopup(element)"
            >
              <mat-icon
                class="conf-edit-icons"
                aria-hidden="false"
                aria-label="documents icon"
                fontIcon="edit"
              ></mat-icon>
            </button>
            <button
              *ngIf="
                user.role === roleEnum.ADMIN ||
                user.role === roleEnum.COORDINATOR ||
                user.role === roleEnum.APPRENTICE
              "
              (click)="deleteEvaluationById(element.id)"
            >
              <mat-icon
                class="red"
                aria-hidden="false"
                aria-label="documents icon"
                fontIcon="close"
              ></mat-icon>
            </button>
            <button
              *ngIf="
                user.role === roleEnum.TUTOR ||
                user.role === roleEnum.MENTOR
              "
              (click)="openNoteEvaluationPopup(element)"
            >
              <mat-icon
                class="yellow"
                aria-hidden="false"
                aria-label="documents icon"
                fontIcon="grade"
              ></mat-icon>
            </button>
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Nom</th>
          <td mat-cell *matCellDef="let element">
            {{ element.file_name }}
          </td>
        </ng-container>

        <!-- Modify time Column -->
        <ng-container matColumnDef="modify-time">
          <th mat-header-cell *matHeaderCellDef>Modifié le</th>
          <td mat-cell *matCellDef="let element">
            {{ element.modification_date | date }}
          </td>
        </ng-container>

        <!-- Modify By Column -->
        <ng-container matColumnDef="modify-by">
          <th mat-header-cell *matHeaderCellDef>Modifié par</th>
          <td mat-cell *matCellDef="let element">
            {{ element.user.first_name }} {{ element.user.last_name }}
          </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Statut</th>
          <td mat-cell *matCellDef="let element">{{ element.status }}</td>
        </ng-container>

        <!-- Evaluation name Column -->
        <ng-container matColumnDef="evaluation-name">
          <th mat-header-cell *matHeaderCellDef>Livrable</th>
          <td mat-cell *matCellDef="let element">{{ element.type }}</td>
        </ng-container>

        <!-- Owner Column -->
        <ng-container matColumnDef="owner">
          <th mat-header-cell *matHeaderCellDef>Publié par</th>
          <td mat-cell *matCellDef="let element">
            {{ element.owner.first_name }} {{ element.owner.last_name }}
          </td>
        </ng-container>

        <!-- Promotions Column -->
        <ng-container matColumnDef="promotion">
          <th mat-header-cell *matHeaderCellDef>Promotions</th>
          <td mat-cell *matCellDef="let element">
            {{ element.yearGroup.worded }}
          </td>
        </ng-container>

        <!-- Note Column -->
        <ng-container matColumnDef="note">
          <th mat-header-cell *matHeaderCellDef>Note</th>
          <td mat-cell *matCellDef="let element">{{ element.note }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        #userPaginator
      >
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
