<div class="background">
  <img class="logo-eseo" src="assets/images/logo-eseo.png" alt="logo ESEO" />

  <div class="connection-div">
    <div class="back-arrow">
      <a href="./connection">
        <mat-icon matPrefix>west</mat-icon>
      </a>
    </div>
    <h1>Mot de passe oublié</h1>

    <p class="message">Entrez l'adresse email associée à votre compte et nous allons
      vous envoyer un lien pour réinitialiser votre mot de passe.</p>
    <form class="connection-form">
      <div class="div-input user-name">
        <h3>Email</h3>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Entrez votre adresse mail</mat-label>
          <mat-icon matPrefix>mail</mat-icon>
          <input type="email" matInput />
        </mat-form-field>
      </div>

      <button mat-flat-button class="btn_primary bg-gradient">ENVOYER</button>
    </form>
  </div>
</div>
