<div class="dialog-header bg-purple">
  <h2 mat-dialog-title>Modification d'une équipe pédagogique</h2>
</div>
<form [formGroup]="teamForm" (ngSubmit)="submitTutorTeam()">
  <div mat-dialog-content class="dialog-content">
    <div class="div-input">
      <h3>Apprenti</h3>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Choisissez un apprenti</mat-label>
        <mat-select
          required
          formControlName="apprentice"
          [(value)]="this.apprentice.id"
        >
          <mat-option
            *ngFor="let apprentice of apprentices"
            [value]="apprentice.id"
          >
            {{ apprentice.first_name }} {{ apprentice.last_name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="div-input">
      <h3>Tuteur pédagogique</h3>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Choisissez un tuteur pédagogique</mat-label>
        <mat-select required formControlName="tutor" [(value)]="this.tutor.id">
          <mat-option *ngFor="let tutor of tutors" [value]="tutor.id">
            {{ tutor.first_name }} {{ tutor.last_name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="div-input">
      <h3>Maître d'apprentissage</h3>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Choisissez un maître d'apprentissage</mat-label>
        <mat-select
          required
          formControlName="mentor"
          [(value)]="this.mentor.id"
        >
          <mat-option *ngFor="let mentor of mentors" [value]="mentor.id">
            {{ mentor.first_name }} {{ mentor.last_name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div mat-dialog-actions align="end">
    <button
      mat-button
      class="green bold"
      type="submit"
      [disabled]="teamForm.invalid"
    >
      MODIFIER
    </button>
    <button
      mat-button
      mat-dialog-close
      class="red bold"
      (click)="closeDialog()"
    >
      ANNULER
    </button>
  </div>
</form>
