<mat-card class="evals-card">
  <mat-card-header class="evals-card-header">
    <mat-card-title class="evals-card-title">
      <mat-icon
        aria-hidden="false"
        aria-label="evals icon"
        fontIcon="description"
      ></mat-icon>
      LIVRABLES
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nom </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Modify time Column -->
        <ng-container matColumnDef="modify-time">
          <th mat-header-cell *matHeaderCellDef> Modifié </th>
          <td mat-cell *matCellDef="let element"> {{element.modifyTime | date}} </td>
        </ng-container>

        <!-- Modify By Column -->
        <ng-container matColumnDef="modify-by">
          <th mat-header-cell *matHeaderCellDef> Modifié par </th>
          <td mat-cell *matCellDef="let element"> {{element.modifyBy}} </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Statut </th>
          <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>

        <!-- Evaluation name Column -->
        <ng-container matColumnDef="evaluation-name">
          <th mat-header-cell *matHeaderCellDef> Livrable </th>
          <td mat-cell *matCellDef="let element"> {{element.evaluationName}} </td>
        </ng-container>

        <!-- Note Column -->
        <ng-container matColumnDef="note">
          <th mat-header-cell *matHeaderCellDef> Note </th>
          <td mat-cell *matCellDef="let element"> {{element.note}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                     showFirstLastButtons
                     aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
