@import "/src/styles/helpers/constants.scss";

.evals-card {
  box-shadow: $box-shadow-secondary;
  padding: 0px;
}

.evals-card-header {
  padding-top: 12px;
  box-shadow: $box-shadow-secondary;
  background-color: $purple;
  color: $white;
  justify-content: center;
}

.evals-card-title {
  display: flex;
}

