<div class="dialog-header bg-red">
  <h2 mat-dialog-title>Modification d'un user</h2>
</div>
<div mat-dialog-content class="dialog-content">
  <div class="div-input">
    <h3>Prénom</h3>
    <mat-form-field class="full-width" appearance="fill">
      <input [(ngModel)]="data.first_name" type="text" matInput />
    </mat-form-field>
  </div>

  <div class="div-input">
    <h3>Nom</h3>
    <mat-form-field class="full-width" appearance="fill">
      <input [(ngModel)]="data.last_name" type="text" matInput />
    </mat-form-field>
  </div>

  <div class="div-input">
    <h3>email</h3>
    <mat-form-field class="full-width" appearance="fill">
      <input [(ngModel)]="data.email" type="text" matInput />
    </mat-form-field>
  </div>

<mat-divider></mat-divider>
<div mat-dialog-actions align="end">
  <button mat-button class="green bold" (click)="updateUser(data)">MODIFIER</button>
  <button mat-button class="red bold" (click)="closeDialog()">ANNULER</button>
</div>
