<div class="dialog-header bg-green">
  <h2 mat-dialog-title>Ajout d'une entreprise</h2>
</div>
<div mat-dialog-content class="dialog-content">
  <div class="div-input">
    <h3>Raison sociale de l’entreprise</h3>
    <mat-form-field class="full-width" appearance="fill">
      <input [(ngModel)]="register.last_name" type="text" matInput />
      <mat-hint
        >Il s’agit de la dénomination juridique de la société et non sa
        dénomination commerciale.</mat-hint
      >
    </mat-form-field>
  </div>

  <div class="div-input">
    <h3>N° Siret de l’entreprise</h3>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>ex : 38347093700061</mat-label>
      <input [(ngModel)]="register.first_name" type="text" matInput />
    </mat-form-field>
  </div>

  <div class="div-input">
    <h3>Nombre de salaries en France</h3>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>ex : 1500</mat-label>
      <input [(ngModel)]="register.password" type="password" matInput />
    </mat-form-field>
  </div>

  <div class="div-input">
    <h3>Code et Libellé CPNE - Commission paritaire nationale de l’emploi</h3>
    <mat-form-field class="full-width" appearance="fill">
      <input [(ngModel)]="register.email" type="email" matInput />
      <mat-hint
        >Sollicités dans le cadre de la prise en charge par l'OPCO (barème
        France Compétences). Pour les entreprises du secteur public, noter
        "Secteur public</mat-hint
      >
    </mat-form-field>
  </div>

  <div class="div-input">
    <h3>Cide IDCC</h3>
    <mat-form-field class="full-width" appearance="fill">
      <input [(ngModel)]="register.email" type="email" matInput />
      <mat-hint
        >Sollicité dans le cadre de la prise en charge par l'OPCO (barème France
        Compétences). Pour les entreprises du secteur public, noter le nom et la
        localité du CNFPT de rattachement</mat-hint
      >
    </mat-form-field>
  </div>

  <div class="div-input">
    <h3>Convention Collective</h3>
    <mat-form-field class="full-width" appearance="fill">
      <input [(ngModel)]="register.email" type="email" matInput />
      <mat-hint
        >ex : CC des industries métallurgiques, mécaniques, électriques,
        électroniques connexes et similaires du Maine-et-Loire</mat-hint
      >
    </mat-form-field>
  </div>

  <div class="div-input">
    <h3>Code NAF/APE</h3>
    <mat-form-field class="full-width" appearance="fill">
      <input [(ngModel)]="register.email" type="email" matInput />
      <mat-hint
        >ex : CC des industries métallurgiques, mécaniques, électriques,
        électroniques connexes et similaires du Maine-et-Loire</mat-hint
      >
    </mat-form-field>
  </div>

  <div class="div-input">
    <h3>Secteur activité principale</h3>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>ex : Fabrication d'équipements de communication </mat-label>
      <input [(ngModel)]="register.email" type="email" matInput />
    </mat-form-field>
  </div>

  <div class="div-input">
    <h3>Téléphone principal</h3>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>ex : 02 41 64 57 00</mat-label>
      <input [(ngModel)]="register.email" type="email" matInput />
    </mat-form-field>
  </div>

  <div class="div-input">
    <h3>E-Mail principal</h3>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>ex : magali.remond@thalesgroup.com</mat-label>
      <input [(ngModel)]="register.email" type="email" matInput />
    </mat-form-field>
  </div>

  <div class="div-input">
    <h3>Adresse (Adresse - CP - Ville)</h3>
    <mat-form-field class="full-width" appearance="fill">
      <input [(ngModel)]="register.email" type="email" matInput />
      <mat-hint
        >Merci de renseigner ici l'adresse de l'entreprise signataire de la
        convention.</mat-hint
      >
    </mat-form-field>
  </div>

  <div class="div-input">
    <h3>Lieu de formation (Raison sociale)</h3>
    <mat-form-field class="full-width" appearance="fill">
      <input [(ngModel)]="register.email" type="email" matInput />
      <mat-hint
        >Merci de renseigner, si elle est différente de celle renseignée
        ci-dessus, la raison sociale du lieu d'exécution du contrat
        d'apprentissage.</mat-hint
      >
    </mat-form-field>
  </div>

  <div class="div-input">
    <h3>Lieu de formation (SIRET)</h3>
    <mat-form-field class="full-width" appearance="fill">
      <input [(ngModel)]="register.email" type="email" matInput />
      <mat-hint
        >Merci de renseigner, s'il est différent de celui renseigné ci-dessus,
        le n° de SIRET du lieu d'exécution du contrat d'apprentissage.</mat-hint
      >
    </mat-form-field>
  </div>

  <div class="div-input">
    <h3>Lieu de formation (Adresse - CP- Ville)</h3>
    <mat-form-field class="full-width" appearance="fill">
      <input [(ngModel)]="register.email" type="email" matInput />
      <mat-hint
        >Merci de renseigner, si elle est différente de celle renseignée
        ci-dessus, l'adresse COMPLÈTE du lieu d'exécution du contrat
        d'apprentissage.</mat-hint
      >
    </mat-form-field>
  </div>

  <div class="div-input">
    <h3>OPCO (Nom - Raison sociale)</h3>
    <mat-form-field class="full-width" appearance="fill">
      <input [(ngModel)]="register.email" type="email" matInput />
      <mat-hint
        >Il s’agit de votre opérateur de compétences. Merci de bien vouloir
        indiquer ses coordonnées complètes, ici le NOM - RAISON SOCIALE. Pour
        les entreprises du secteur public : CNFPT (NOM - RAISON
        SOCIALE)</mat-hint
      >
    </mat-form-field>
  </div>

  <div class="div-input">
    <h3>OPCO (SIRET)</h3>
    <mat-form-field class="full-width" appearance="fill">
      <input [(ngModel)]="register.email" type="email" matInput />
      <mat-hint
        >Il s’agit de votre opérateur de compétences. Merci de bien vouloir
        indiquer ses coordonnées complètes, ici le SIRET. Pour les entreprises
        du secteur public : CNFPT (SIRET) :</mat-hint
      >
    </mat-form-field>
  </div>

  <div class="div-input">
    <h3>OPCO (Adresse - CP- Ville)</h3>
    <mat-form-field class="full-width" appearance="fill">
      <input [(ngModel)]="register.email" type="email" matInput />
      <mat-hint
        >Il s’agit de votre opérateur de compétences. Merci de bien vouloir
        indiquer ses coordonnées complètes, ici l'ADRESSE - CP- VILLE. Pour les
        entreprises du secteur public : CNFPT (ADRESSE - CP - VILLE)</mat-hint
      >
    </mat-form-field>
  </div>

  <div class="div-input">
    <h3>OPCO (Téléphone)</h3>
    <mat-form-field class="full-width" appearance="fill">
      <input [(ngModel)]="register.email" type="email" matInput />
      <mat-hint
        >Il s’agit de votre opérateur de compétences. Merci de bien vouloir
        indiquer ses coordonnées complètes, ici le TÉLÉPHONE. Pour les
        entreprises du secteur public : CNFPT (TÉLÉPHONE) :</mat-hint
      >
    </mat-form-field>
  </div>

  <div class="div-input">
    <h3>OPCO (E-Mail)</h3>
    <mat-form-field class="full-width" appearance="fill">
      <input [(ngModel)]="register.email" type="email" matInput />
      <mat-hint
        >Il s’agit de votre opérateur de compétences. Merci de bien vouloir
        indiquer ses coordonnées complètes, ici l'E-MAIL. Pour les entreprises
        du secteur public : CNFPT (E-MAIL) :</mat-hint
      >
    </mat-form-field>
  </div>
</div>
<mat-divider></mat-divider>
<div mat-dialog-actions align="end">
  <button mat-button class="green bold" (click)="addCompany(register)">
    AJOUTER
  </button>
  <button mat-button class="red bold" (click)="closeDialog()">ANNULER</button>
</div>
