<app-navigation>
  <div class="navigation-content">
    <mat-card class="documents-page-card">
      <mat-card-header class="documents-page-card-header">
        <mat-card-title class="documents-page-card-title">
          <mat-icon
            aria-hidden="false"
            aria-label="documents icon"
            fontIcon="description"
          ></mat-icon>
          DOCUMENTS PÉDAGOGIQUES
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div
          class="conf-actions-btns"
          *ngIf="
            user.role === roleEnum.ADMIN || user.role === roleEnum.COORDINATOR
          "
        >
          <button
            mat-raised-button
            class="btn_primary bg-blue"
            (click)="openAddDocumentPopup()"
          >
            AJOUT DOCUMENT
          </button>
        </div>

        <div class="div-table-evaluation">
          <table mat-table [dataSource]="dataSource">
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Titre</th>
              <td mat-cell *matCellDef="let element">{{ element.name }}</td>
            </ng-container>

            <!-- File Name time Column -->
            <ng-container matColumnDef="file_name">
              <th mat-header-cell *matHeaderCellDef>Nom du fichier</th>
              <td mat-cell *matCellDef="let element">
                {{ element.file_name }}
              </td>
            </ng-container>

            <!-- User By Column -->
            <ng-container matColumnDef="user_first_name">
              <th mat-header-cell *matHeaderCellDef>Prénom</th>
              <td mat-cell *matCellDef="let element">
                {{ element.user.first_name }}
              </td>
            </ng-container>

            <!-- User By Column -->
            <ng-container matColumnDef="user_last_name">
              <th mat-header-cell *matHeaderCellDef>Nom</th>
              <td mat-cell *matCellDef="let element">
                {{ element.user.last_name }}
              </td>
            </ng-container>

            <!-- Semester By Column -->
            <ng-container matColumnDef="yearGroup">
              <th mat-header-cell *matHeaderCellDef>Promotion</th>
              <td mat-cell *matCellDef="let element">
                {{ element.yearGroup.worded }}
              </td>
            </ng-container>

            <!-- Download Link Column -->
            <ng-container matColumnDef="link">
              <th mat-header-cell *matHeaderCellDef>Téléchargement</th>
              <td mat-cell *matCellDef="let element">
                <button
                  (click)="downloadDocument(element.id, element.file_name)"
                >
                  <mat-icon
                    class="blue"
                    aria-hidden="false"
                    aria-label="documents icon"
                    fontIcon="file_download"
                  ></mat-icon>
                </button>
                <button
                  *ngIf="
                    user.role === roleEnum.ADMIN ||
                    user.role === roleEnum.COORDINATOR
                  "
                  (click)="deleteDocumentById(element.id)"
                >
                  <mat-icon
                    class="red"
                    aria-hidden="false"
                    aria-label="documents icon"
                    fontIcon="close"
                  ></mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>

          <mat-paginator
            [pageSizeOptions]="[5, 10, 20]"
            showFirstLastButtons
            #documentPaginator
          >
          </mat-paginator>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</app-navigation>
