<div class="background">
  <img class="logo-eseo" src="assets/images/logo-eseo.png" alt="logo ESEO">

  <div class="connection-div">
    <h1>Connexion</h1>

    <form class="connection-form" #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
      <div class="div-input user-name">
        <h3>Adresse email</h3>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Entrez votre adresse email</mat-label>
          <mat-icon matPrefix>account_circle</mat-icon>
          <input type="email" matInput name="email" ngModel/>
        </mat-form-field>
      </div>

      <div class="div-input">
        <h3>Mot de passe</h3>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Entrez votre mot de passe</mat-label>
          <mat-icon matPrefix>lock</mat-icon>
          <input matInput [type]="hide ? 'password' : 'text'" name="password" ngModel/>
          <button
            class="btn-hide-password"
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
        <a href="/forgot-password" class="mdp_forget">Mot de passe oublié ?</a>
      </div>

      <button mat-flat-button class="btn_primary bg-gradient" type="submit">SE CONNECTER</button>
    </form>

    <button class="btn-microsoft">
      <img src="assets/images/btn-microsoft.svg" alt="bouton de connexion avec Microsoft">
    </button>
  </div>
</div>
