<div class="dialog-header bg-green">
  <h2 mat-dialog-title>Ajout d'une note périodique</h2>
</div>
<div mat-dialog-content class="dialog-content">
  <div class="Add-note">
    <h3>Informations sur la note</h3>

    <mat-form-field class="Add-Note" appearance="fill" >
      <mat-label>Ajout d'id pour test </mat-label>
      <mat-icon matPrefix>ID</mat-icon>
      <input type="text"  matInput />
    </mat-form-field>

    <mat-form-field class="Add-Note" appearance="fill" >
      <mat-label>Nom de la note </mat-label>
      <mat-icon matPrefix>note</mat-icon>
      <input type="tel" [(ngModel)]="js_note.title" matInput />
    </mat-form-field>

    <mat-form-field class="Add-Note" appearance="fill">
      <mat-label>Choisissez un semestre</mat-label>
      <mat-select required [(ngModel)]="js_note.semester">
        <mat-option *ngFor="let semester of semesters" [value]="semester.name">
          {{ semester.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="Add-Note" appearance="fill">
      <mat-label>Entrez une période</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate [(ngModel)]="js_note.dateStart" placeholder="Date de début" />
        <input matEndDate [(ngModel)]="js_note.dateEnd" placeholder="Date de fin" />
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  </div>

  <div class="div-input">
    <h3>Description</h3>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Ajouter une description</mat-label>
      <textarea
      [(ngModel)]="js_note.text"
      cdkTextareaAutosize
      cdkAutosizeMinRows="15"
      cdkAutosizeMaxRows="20"
      matInput
      placeholder="Ex. J'ai réalisé...">
    </textarea>
    </mat-form-field>
  </div>
</div>
<mat-divider></mat-divider>
<div mat-dialog-actions align="end">
  <button mat-button class="green bold"  (click)="addNote(js_note)">AJOUT</button>
  <button mat-button class="red bold" (click)="closeDialog()">ANNULER</button>
</div>


