<div class="dialog-header bg-red">
  <h2 mat-dialog-title>Ajout d'un évènement</h2>
</div>
<div mat-dialog-content class="dialog-content">
  <div class="div-input">
    <h3>Nom de l'évènement</h3>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Soutenance S7</mat-label>
      <mat-icon matPrefix>note</mat-icon>
      <input required [(ngModel)]="interview.name" type="text" matInput />
    </mat-form-field>
  </div>

  <div class="div-input">
    <h3>Semestre</h3>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Choisissez un semestre</mat-label>
      <mat-select required [(ngModel)]="interview.semester">
        <mat-option *ngFor="let semester of semesters" [value]="semester.id">
          {{ semester.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="div-input">
    <h3>Période</h3>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Choisisez une date</mat-label>
      <input
        required
        [(ngModel)]="interview.date"
        matInput
        [matDatepicker]="picker"
      />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="hour-container">
    <h3>Horaires de l'événement</h3>
    <mat-form-field appearance="fill">
      <mat-label>8:00</mat-label>
      <input required [(ngModel)]="interview.first_hour" matInput type="text" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>11:00</mat-label>
      <input required [(ngModel)]="interview.last_hour" matInput type="text" />
    </mat-form-field>
  </div>

  <div class="div-input">
    <h3>Invités</h3>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Choisisez les invités</mat-label>
      <mat-select required [(ngModel)]="interview.attendees">
        <mat-option *ngFor="let guest of guests" [value]="guest.name">
          {{ guest.name }} :
          <ng-container *ngIf="guest.name === 'Equipe tutorale'">
            <p>
              {{ this.tutorTeam.mentor.first_name }}
              {{ this.tutorTeam.mentor.last_name }}
            </p>
            <p>
              {{ this.tutorTeam.tutor.first_name }}
              {{ this.tutorTeam.tutor.last_name }}
            </p>
          </ng-container>
          <span *ngIf="guest.name === 'Maitre d\'apprentissage'">
            {{ this.tutorTeam.mentor.first_name }}
            {{ this.tutorTeam.mentor.last_name }}</span
          >
          <span *ngIf="guest.name === 'tuteur pédagogique'">
            {{ this.tutorTeam.tutor.first_name }}
            {{ this.tutorTeam.tutor.last_name }}</span
          >
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="div-input">
    <h3>Description</h3>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Ajouter une description</mat-label>
      <textarea
        matInput
        [(ngModel)]="interview.description"
        placeholder="Ex. J'ai réalisé..."
      ></textarea>
    </mat-form-field>
  </div>
</div>

<mat-divider></mat-divider>
<div mat-dialog-actions align="end">
  <button mat-button class="green bold" (click)="addinterview(interview)">
    CREER
  </button>
  <button mat-button class="red bold" (click)="closeDialog()">ANNULER</button>
</div>
