@import "/src/styles/helpers/constants.scss";

.apprentice-form-card {
    box-shadow: $box-shadow-secondary;
    padding: 0px;
}

.apprentice-formfield-card {
  box-shadow: $box-shadow-secondary;
  padding: 25px;
}

.apprentice-form-card-header {
    padding-top: 12px;
    box-shadow: $box-shadow-secondary;
    background-color: $purple;
    color: $white;
    justify-content: center;
}

.apprentice-form-card-title {
display: flex;
}
